<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let message of messages | async" text-wrap>
      <ion-item>
	<h1>{{ message.author }}</h1>
	<ion-note item-end *ngIf="message.date != date.toDateString()">
	  {{ message.date }}
	</ion-note>
	<ion-note item-end *ngIf="message.date == date.toDateString()">
	  {{ message.hour }}
	</ion-note>
	{{ message.text }}
      </ion-item>
      <ion-item-options>
	<button ion-button (click)="removeMessage(message)">
	  <ion-icon name="trash"></ion-icon>
	</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input [(ngModel)]="curMessage" placeholder="Ecrire un message..."></ion-input>
    <ion-buttons end>
      <button ion-button (click)="sendMessage()">Envoyer</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
